// Colors
$color-primary: #F26419;
$color-secondary: #2F4858;
$color-success: #55DDE0;
$color-info: #33658A;
$color-danger: #915639;

$theme-colors: (
  "primary": #F26419,
  "secondary":#2F4858,
  "success":#55DDE0,
  "info": #33658A, 
  "danger":#915639  
);



// Body
$body-bg: white;
$body-color: white;

// Misc
$box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);

// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;

// Button
$btn-border-radius: 0;
$btn-border-width: 2px;
$btn-font-weight: bold;
$btn-color:white;






